:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: regular;
}